
{%extends blog_base %}
{% block title %} Благодариме  {% endblock %}

{% block content %}
	<div class="ui-widget ui-corner-all" style="border: 1px solid black;">
	<h3>Почитуван/а {{user.Name}} {{user.Surname}}</h3>
	Вашите податоци ќе бидат искористени само за да ве известиме за нови настани.
	<br>Доколку сакате да се одјавите од оваа листа тоа можете да го направите преку праќање на маил до <u>vlachyoutcouncil@gmail.com</u>
	</br></br>
	
	<b><br>Благодариме</b><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Унија на Млади Власи на Македонија
		<br/>
		
	</div>    
{% endblock %}