{% extends darkness_base %}
{% block styles %}
{{block.super}}
<link href="/styles/ui-blackgreen/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/styles/mbContainer/css/mbContainer.css" rel="stylesheet" type="text/css" media="screen" />
<!--<link href="/styles/resultGrid.css" rel="stylesheet" type="text/css" media="screen" /> -->
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/jquery-1.4.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery-ui-1.7.2.custom.min.js"></script>

<script type="text/javascript" src="/jscripts/jquery.layout.js"></script>
<script type="text/javascript" src="/jscripts/mbContainer.js"></script>
<script type="text/javascript" src="/jscripts/jquery.panelgallery.js"></script>
<script type="text/javascript" src="/jscripts/jquery.form.js"></script>
<script type="text/javascript">
$(function(){
	/*
	  $(".containerPlus").buildContainers({
		containment:"document",
		elementsPath:"elements/"
	});
	*/

	$('#LogoContainer').panelGallery({
		sections:5,
		imageTransitionDelay :3000,
		startDelay:5000,
		sectionTransitionDelay : 700,
		repeat:false,
		direction:"lr"
	});
	
	$('.date').datepicker()

	$('.my-collapsible').click(function(){
		 var o = $(this);
		 o.next('div').toggle('fast');
	});
});
</script>
{% endblock %}
{% block analitics %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12548726-2");
pageTracker._trackPageview();
} catch(err) {}</script>
{%endblock%}
{% block top_menu %}
	{% include mnTopMenu %}
{% endblock %}

{% block login_menu %}
	{% include blLogin %}
{% endblock %}
{% block status %}
{% if status %}
<div class="ui-state-error" style="text-align: center">
	{{status}}
</div>
{% endif %}
{% endblock %}
{% block sidebar %}
	{% include mnBlogSidebar %}
{% endblock %}
