<html>
<head>
<title></title>
{% block styles %}
<link href="/styles/ui-blackgreen/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" media="screen" />

<link href="/styles/mbContainer/css/mbContainer.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/styles/resultGrid.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/jscripts/jquery-1.4.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery-ui-1.7.2.custom.min.js"></script>

{% endblock %}
</head>
<body>
{% block content %}
 
{%endblock%}
</body>
</html>