<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% extends base_mail %}

{% block content %}
	
	Dear User,
	This is verification mail sent to you in order to verify the 
	transaction created by the user {{verification.sender.Name}} {{verification.sender.Surname}}
	<br></br>The transaction is described here: <br></br>
	<div align="center" style="text-align: center;">
	<table border="1" width="100%">
			  <tr>
			    <th>Должи</th>
			    <th>Побарува</th>
			    <th>Сума</th>
			    <th>Опис</th>
			    <th>Време</th>
			    <th>Додадено на</th>
			  </tr>
			  
			  <tr>
			    <td>{{verification.transaction.zel.Name}}</td>
			    <td>{{verification.transaction.dal.Name}}</td>
			    <td>{{verification.transaction.suma}}</td>
			    <td>{{verification.transaction.description}}</td>
		        <td>{{verification.transaction.vreme_dolg|date:"y/M/d"}}</td>
		        <td>{{verification.transaction.vreme_vnes|date:"y/M/d"}}</td>
			  </tr>
			  
		</table>
		<form action="http://vlachyouth.appspot.com/trans_verification/{{verification.key}}">
			<input type="radio" name="yesno" value="true" checked="checked" >Accept</input>
			<input type="radio" name="yesno" value="false" >Reject</input><br></br>
			<input type="submit" >Потврди</input>
		</form>
	</div>
{%endblock %}