{% extends blog_base %}
{% block content %}
	<div class="ui-widget ui-corner-all" style="border:1px solid black; width:100%; margin: 5px; min-height: 350px">
	<div class="ui-widget-content" style="padding-left: 15px;">
			<h2>Contact Info</h2>
		</div>
		<div style="padding:5px">
		
			<p>Kosta Mihajlov Halicha <a href="email:kosta.mihajlov@gmail.com">kosta.mihalov@gmail.com</a></p>
			<p>Daniela <a href="email:daniela@someemail.com">daniela@somemail.com</a></p>
			
			<p>Kosta Mihajlov Halicha <a href="email:kosta.mihajlov@gmail.com">kosta.mihalov@gmail.com</a></p>
			<p>Daniela <a href="email:daniela@someemail.com">daniela@somemail.com</a></p>
			
			
			<p>Kosta Mihajlov Halicha <a href="email:kosta.mihajlov@gmail.com">kosta.mihalov@gmail.com</a></p>
			<p>Daniela <a href="email:daniela@someemail.com">daniela@somemail.com</a></p>
			
		</div>
	</div>
{% endblock %}