{% extends blog_base %}
{% block content %}
<div class="ui-widget ui-corner-all" style="border:1px solid black; width:100%; margin: 5px; min-height: 350px">
	<div class="ui-widget-content" style="padding-left:15px;">
		<p><h2>Links</h2></p>
	</div>
	<div style="padding:5px">
		<p><a href="http://www.google.com">Google</a> is a Search Engine </p>
		<p><a href="http://www.appstpot.google.com">Google App Spot</a> is a Hosting Solution provided by google </p>
		<p><a href="http://www.google.com">Google</a>  is a Search Engine </p>
	</div>
</div>
{% endblock %}